# Ignore Python pycache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/

# Ignore pytest
.pytest_cache/

# Ignore egg-info
*.egg-info

# Ignore dist
dist/

# Ignore Scala project files  
.idea/
.bsp
target/
project/target/
project/
.idea/
*.class
*.log

# Ignore vscode settings
.vscode

data/